anyio==3.6.2
certifi==2022.12.7
flake8==6.0.0
flet==0.4.2
flet-core==0.4.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
lxml==4.9.2
mccabe==0.7.0
Nuitka==1.4.8
oauthlib==3.2.2
ordered-set==4.1.0
packaging==23.0
pycodestyle==2.10.0
pyflakes==3.0.1
PyYAML==6.0
repath==0.9.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
watchdog==2.3.1
websocket-client==1.5.1
websockets==10.4
zstandard==0.20.0
